@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

nav {
  font-family: "Rubik", sans-serif !important;
}
.nav-link.active {
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #56854e;
}
.navbar-brand {
  font-weight: 700;
  font-size: "24px";
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}
.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #56854e;
  transition: width 0.3s ease-out;
}
.nav-item:hover.nav-item::after {
  width: 100%;
}

.right {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

.login,
.register {
  text-decoration: none;
  color: black !important;
}

@media only screen and (max-width: 768px) {
  .right {
    text-align: center;
  }
  .cart {
    display: none;
  }
}
