@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.cart-body {
  margin: 100px 70px 35px;
}

.cart {
  display: flex;
}

/* list products in cart */
.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 20px;
  margin-left: 50px;
}

.list-group-item {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 15px;
}

.column-2 {
  text-align: left;
  padding-left: 50px;
  margin-top: 18px;
}

.column-2 h6 {
  font-size: 14px;
}

.column-2 .price-cart {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.cartItem {
  display: flex;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 25px;
  flex-direction: column;
}

.btn-cart {
  background-color: #3473c5;
  color: #f8fdff;
  font-family: "Rubik", sans-serif;
}

.btn-cart:hover {
  background-color: #ffae01;
  color: #f8fdff;
}

.cart-item {
  width: 100%;
}

.cartItemImage {
  width: 230px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.condition {
  color: #3473c5;
  margin: auto;
  text-transform: capitalize;
}

.price {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* shipping details */
.summary {
  background-image: linear-gradient(#3473c5, #50c4ed);
  color: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  margin: 20px 20px 50px 20px;
}

.shipping > .header-shipping {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}

.title {
  margin: 10px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.btn-checkout {
  background-color: #ffae01;
  color: #f8fdff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

.btn-checkout:hover {
  background-color: #f8fdff;
  color: #ffae01;
}

.btn-checkout-disabled {
  background-color: #8ab9cc;
  color: #f8fdff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  pointer-events: none;
  cursor: default;
}

.product-detail,
.total-price,
.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.total-price {
  font-weight: 600;
  font-size: 18px;
  padding: 0;
}

.product-detail > h5 {
  font-size: 16px;
}

.link-cart {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.log-he {
  text-decoration: none;
  color: #3473c5;
  font-weight: 600;
}
.log-he:hover {
  color: #ffae01;
}

/* responsive for tablet size */
@media only screen and (min-width: 381px) and (max-width: 768px) {
  .cart {
    display: flex;
    flex-direction: column;
  }

  .cartItemImage {
    width: 150px;
    height: 120px;
  }

  .summary {
    width: 95%;
    padding: 18px 28px;
    margin: 15px;
    margin-left: 18px;
    justify-content: center;
  }

  .productContainer {
    width: 100%;
    text-align: left;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .products {
    width: 100%;
  }

  .btn-checkout {
    margin-bottom: 20px;
  }

  .link-cart {
    margin-bottom: 8px;
    text-align: center;
  }
}

/* responsive for phone size */
@media only screen and (max-width: 380px) {
  .cart-body {
    margin-top: 75px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  .cartItemImage {
    width: 150px;
    height: 120px;
  }

  .cart {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  .cart-title {
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    text-align: left;
    padding-left: 20px;
  }

  .productContainer {
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }

  .btn-cart {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .row h4 {
    font-size: 18px;
  }

  .price {
    text-align: left;
    font-size: 12px;
  }

  .column-2 {
    padding: 0 20px;
    margin: 10px 0;
  }

  .column-2 > h6 {
    font-size: 12px;
  }

  .column-2 .condition {
    margin-bottom: 10px;
  }
  .summary {
    width: 90%;
    align-self: center;
    padding: 15px;
  }

  .shipping .header-shipping {
    font-size: 18px;
  }

  .title,
  .product-detail > h5 {
    font-size: 14px;
  }

  .total-price {
    font-size: 16px;
    padding: 0px;
  }

  .btn-checkout {
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 16px;
  }
}
