@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

section {
  margin-top: -20px;
}
.categories {
  background-color: white;
  margin-top: 50px;
  padding: 10px 0px;
}
.categories .nav-link.active {
  position: relative;
  color: #ffae01 !important;
}

.sticky-top {
  top: 78px;
}
.nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffae01;
}
.nav-link,
.nav-link:hover {
  color: black;
}
.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #ffae01;
  transition: width 0.3s ease-out;
}
.nav-item:hover.nav-item::after {
  width: 100%;
}

.link-cat {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.link-cat.active {
  color: #ffae01;
}

/* JUMBOTRON */
.parallax {
  background-image: url("../image/header.png");
  min-height: 525px;
  background-color: #f8931f;
  background-attachment: fixed;
  background-position: 50% 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* CARD */
.card {
  font-family: "Poppins", sans-serif;
}
.card-title {
  margin: 15px 0px;
}
.card-body {
  background-color: #f8fdff;
}
.img-list {
  height: 350px;
  object-fit: cover;
}
.price {
  margin-top: -8px;
}
.sold {
  position: absolute;
  top: 100px;
  right: 70px;
  width: 60%;
}

.link,
.link:hover {
  text-decoration: none;
  color: black;
}

/* === FILTER ==== */
.select-filter {
  margin: 0px 30px 20px;
}

/* CONDITION */
.cond-list {
  text-transform: capitalize;
  color: #3473c5;
  padding-bottom: 15px;
  font-size: 14px;
}
.icon-list {
  padding-right: 10px;
}

/* DROPDOWN */
.selected {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #3473c5;
  font-weight: 500;
}
.selected:focus-visible {
  outline: none;
}
.dropdown-item {
  font-family: "Poppins", sans-serif;
}
.dropdown-item:active {
  background-color: #3473c5;
}

.dropdown-menu.show {
  background-color: #f8fdff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  min-width: 118px;
}

/* === LIST PRODUCT ===   */
.in-stock,
.out-stock {
  padding: 15px;
}

@media only screen and (min-width: 381px) and (max-width: 768px) {
  .parallax {
    display: none;
  }
  /* Tab */
  .categories {
    padding: 12px 0px;
    background-color: #dfecf1e1;
  }
  .sticky-top {
    top: 73px;
  }

  /* Dropdown */
  .select-filter {
    margin: 60px 30px 7px;
  }

  /* CARD */
  .c-list {
    margin: 10px;
  }
  .img-list {
    height: 50vh;
  }
  .card-title {
    font-size: 28px;
  }
  .p-list {
    font-size: 20px;
    margin-top: -8px;
  }
  .cond-list {
    margin-top: 0px;
    font-size: 16px;
  }
  .sold {
    top: 120px;
  }
}

@media only screen and (max-width: 380px) {
  .parallax {
    display: none;
  }

  /* Tab */
  .categories {
    padding: 15px 0px;
    background-color: #dfecf1e1;
  }
  .sticky-top {
    top: 60px;
  }

  /* Dropdown */
  .select-filter {
    margin-bottom: 10px;
  }

  /* CARD */
  .c-list {
    margin: 30px;
  }
  .img-list {
    height: 290px;
  }
  .card-title {
    font-size: 20px;
  }
  .p-list {
    font-size: 16px;
    margin-top: -5px;
  }
  .cond-list {
    margin-top: -3px;
  }
}
