@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

nav {
  font-family: "Rubik", sans-serif !important;
  background-color: #f8fdff;
}
#nav-top .nav-link.active {
  position: relative;
}
#nav-top .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #3473c5;
}
.navbar-brand {
  font-weight: 700;
  font-size: "24px";
}
.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}
#nav-top .nav-item {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
#nav-top .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #3473c5;
  transition: width 0.3s ease-out;
}
#nav-top .nav-item:hover.nav-item::after {
  width: 100%;
}

.right-nav {
  font-size: 14px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

.login {
  color: #3473c5 !important;
  text-decoration: none;
  padding: 7px 12px 0px;
  font-weight: 500;
  border: 1px solid #3473c5;
  border-radius: 5px;
}
.login:hover,
.login::after,
.login:active {
  background-color: #3473c5;
  color: white !important;
}

.cart {
  text-decoration: none;
  background: none;
}

.btn-nav-login {
  margin-top: 0 !important;
  background-color: #f8fdff;
  border: 2px solid #3473c5;
  padding: 5px 10px;
  border-radius: 10px;
  color: #3473c5;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.cartitem {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 0 10px;
}

.cartItemDetail {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn-nav-login:hover {
  color: #f8fdff;
  background-color: #3473c5;
}

.delete-icons {
  color: #ffae01;
}

.btn-gotocart {
  font-family: "Rubik", sans-serif;
  background-color: #ffae01;
  border-color: #ffae01;
  color: white;
}

.btn-gotocart:hover {
  background-color: #3473c5;
  border-color: #3473c5;
  color: white;
}

@media only screen and (max-width: 768px) {
  .right {
    text-align: center;
  }
  .cart {
    display: none;
  }
}
